
.logo{
background-color: #f94a3d;
color: white;
font-size: 20px;
font-weight: 700;
padding: 8px;
line-height: 2px;
border-radius: 6px;
height:20px;
width: 20px;

}
.nav_main,.first-page{
    background-color: #fef2f1;
}
.search_bar>input{
    border: none;
    width: 100%;
    border-radius: 12px;

}
.search_bar>svg{
    margin-top: 13px;
    width: 25px;


}
.sign_in{
    border-radius: 10px;
background-color:#F94A3D !important;
color: white !important;
}
.hero_content{
    margin-top: 3%;
}
.more_than{
    background-color: #FDECEC;
    border-radius: 50px;
    padding: 5px;
    margin-left:10%;
    width: 38%;
}
.bg_svg{
    background-color: white;
    border-radius: 50px;
    margin: 0px;
}
.hero_head,.para,.exp{
    margin-left: 10%;
}

.exp-btn{
   background-color:#F94A3D !important;
   border-radius: 16px !important;
   color: white !important;
}
.hero_image>img{
    width: 100%;
    height: 100%;

}
.hero_image{
    position: relative;
    top: 1px;  
}


.list_menu{

width: 100%;
margin-top: 4%;
}
.list_menu>ul{
margin-top: 3%;
list-style-type: none;
width: 100%;
}
.list_menu>ul>li{
    margin-inline:1%;

}
.higlight{
border-bottom: 4px solid #F94A3D ;
color: #F94A3D;
}
.line{
    position: relative;
    bottom: 15px;
    height: 5px;
    width: 100%;
    background-color: #EAEAEA;
}

.price_tag{
    color:#69697B;
}
.price{
   color: #F94A3D;
}
.locate{
    margin-top: 5%;
}
.reviews{
    background-color: #F8F8F8;
}
.user_card{
 border-radius:15px;
 width:25vw;
 justify-items: center;
 align-items: center;
 margin-top: 2%;
 
}
.user_card>img{
 margin-top: 20px;
 border-radius: 100%;
 width: 20%;
 height: 20%;
 justify-items: center;
 align-items: center;

}
#admin{
    background-color: white;
    
}
.name{
    font-size: 20px;
    font-weight: 500;
        
}
.dign{ 
    color: #69697B;
    font-size: 15px;
}

.container{
    margin-top: 12vw;
    background-color: #F94A3D;
    height: 25vw;  
}

.foot{
    background-color: #fef4f4;
}
table{
    margin-top: 4%;
    margin-bottom: 2%;
}
td,th{
    padding: 10px 40px;
}
/* .review_detail{
    border-left: 2px solid #F94A3D  ;
    height:6vw ;
} */

@media (max-width: 767.98px) {
    .vr_line {
      /* Your custom styles for small screens */
      height: 3px !important;
      width:90%;
      background-color: #EAEAEA ;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .fill{
        background-color:#F94A3D ;
        width: 20%;
        height:3px;
    }
    .speci_cards2{
        /* width:20% ; */
        padding: 40px;
        border-radius: 20px;
        border: 2px solid grey;
        margin-inline: 1.5%; 
        border-image: 
        linear-gradient(
          to top, 
          grey, 
          rgb(255, 255, 255)
        ) 1 10%; 
      
         
    }
  }
  
  @media (min-width: 768px)  {
    .vr_line{
        margin-inline: 5%;
        width: 3px !important;
        height: 30vw;
        background-color:#EAEAEA ;
    }
    .fill{
        background-color:#F94A3D ;
        height: 20%;
        width: 3px !important;
    }
    .speci_det{
        width: 25%;
        /* margin: 7%; */
    }
    .speci_cards1{
        width:25% ;
        /* margin-inline: 2%;    */    
       }
       .speci_cards2{
        width:20% ;
        border-radius: 20px;
        border: 2px solid grey;
        margin-inline: 1.5%; 
        border-image: 
        linear-gradient(
          to top, 
          grey, 
          rgb(255, 255, 255)
        ) 1 10%; 
      
    }
  }
  